.side-bar {
    background: linear-gradient(160deg, #673AB7 30%, #ffffff 100%) !important;
    color: #fff !important;
}

.v-list-item__prepend { 
    display: unset !important;
}

.v-list-group--prepend {
    --parent-padding: 10px !important;
}
